<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form action="/auth/register" method="post" class="form" id="form1" enctype="multipart/form-data">
                <h2 class="form__title"><b>Sign Up</b></h2>
                <input type="text" placeholder="Name" name="name" class="input" required />
                <input type="text" placeholder="Username" name="username" class="input" required />
                <input type="email" placeholder="Email" name="email" class="input" required />
                <input type="password" placeholder="Password" name="password" class="input" required />

                <div class="profile-picture-container">
                    <label for="fileInput" class="custom-file-upload">Choose a Profile Picture</label>
                    <div class="image-preview" id="imagePreview">
                        <img src="" alt="Profile Picture" class="image-preview__image" />
                        <span class="image-preview__default-text">No Image</span>
                    </div>
                    <input type="file" id="fileInput" class="input" accept="image/*" />
                </div>
                <button type="submit" class="btn">Sign Up</button>
            </form>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="/auth/login" class="form" id="form2">
                <h2 class="form__title"><b>Sign In</b></h2>
                <input type="email" placeholder="Email" class="input" required />
                <input type="password" placeholder="Password" class="input" required />
                <a href="#" class="link">Forgot your password?</a>
                <button type="submit" class="btn">Sign In</button>
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./js/login.js"></script>

</html>